.login {
  width: 100%;
  padding-top: 30px;
    .emailfield {
      width: 232px;  
      margin-top: 20px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 2px;
      opacity: 1;
    }
    .passwordfield {
      margin-top: 20px;
      width: 232px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 2px;
      opacity: 1;
    }
    .loginbutton {
      width: 126px;
      background: #A03037 0% 0% no-repeat padding-box;
      border-radius: 3px;
      opacity: 1;
      color: #FFFFFF;
      margin-left: 50px;
    }
   .mid{
    margin-left: 100px;
   }
    .Buttons {
      display: flex;
      width: 236px;
      height: 37px;
      padding-left: 6px;
  
    .googleButton {
      margin-left: 25px;
    }
  }
}