
 .main-container {
        height: 100vh;
        width: 100%;
        background: #a7a4a4 0% 0% no-repeat padding-box;
        display: flex;
        justify-content: center;
        align-items: center;
    .left-image {
     
      display: flex;
      flex-direction: column;
      width: 624px;
      height: 391px;
      background: #f5f5f5 0% 0% no-repeat padding-box;
      border-radius: 21px;
  
      .Logo {
        width: 245px;
        height: 245px;
        border-radius: 200px;
        margin-left: 5%;
        margin-top: 10%;
        
      }
      .logotitle{
       

        margin-left: -48%;
        margin-top: 20px;
        font-weight: bold;
      }
    }
    .rigth-login{
   
      display: flex;
      width: 389px;
      height: 425px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 15px #00000029;
      border: 1px solid #e4e4e4;
      border-radius: 6px;
      opacity: 1;
      margin-left: 48%;
      margin-top: -59%;
      margin-bottom: -120%;
  
        .login {
        width: 70px;
        height: 33px;
        font-size: 25px;
        font-weight: bold;
        margin-top: -20px;
        margin-left: 70px;
        }
      .signup {
        width: 89px;
        height: 33px;
        font-size: 25px;
        font-weight: bold;
        margin-top: -10px;
        margin-left: 65px;
      }
      .conditionalcomponent {
        width: 350px;
        margin-left: -76%;
        margin-top: 6vh;
       
      }
    }
  }
