.signup {
    width: 100%;
     padding-top: 20px;
      .emailfield {

        width: 232px;  
        margin-top: 20px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
      }
      .passwordfield {
        margin-top: 15px;
        width: 232px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
      }
      .s-Button{
           padding-top: 20px;
        .signupbutton {
            width: 232px; 
            text-align: left;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
          }
      }
      
}